<!DOCTYPE html>
<html>
    <body style="font-family: Arial">
        {% for timeframe, artists_list in x %}
            <div>Your {{ artists_list|length }} most-played artists {{ timeframe }} are:</div>
            <br>
            <table cellpadding="0" cellspacing="0" width="300">
                <tr>
                    <td style="font-weight:bold; padding:2px">Artist</td>
                    <td style="font-weight:bold; padding:2px">Plays</td>
                </tr>
                {% set ns = namespace(foo = false) %}
                {% for artist, plays in artists_list %}
                    {% set ns.foo = not ns.foo %}
                    <tr style="background-color: {{ 'lightgrey' if ns.foo else 'white' }}">
                        <td style="padding:2px">{{ artist }}</td>
                        <td style="padding:2px">{{ plays }}</td>
                    </tr>
                {% endfor %}
            </table>
            <br>
        {% endfor %}
    </body>
</html>