<!DOCTYPE html>
<html>
    <body style="font-family: Arial">
        <table border="0" cellspacing="0" cellpadding="0" width="100%" style="max-width:1500px">
            <tr>
                <td width="32%" valign="top">
                    {% for time_frame, artist_list in artist.items() %}
                        <div>Your {{ artist_list|length }} most-played artists of {{ time_frame }} are:</div>
                        <br>
                        <table border="0" cellspacing="0" cellpadding="0" width="100%">
                            <tr>
                                <td style="padding:2px; font-weight:bold;">Artist</td>
                                <td style="padding:2px; font-weight:bold;">Plays</td>
                            </tr>
                            {% set ns = namespace(foo = false) %}
                            {% for artist, plays in artist_list %}
                                {% set ns.foo = not ns.foo %}
                                <tr style="background-color: {{ 'lightgrey' if ns.foo else 'white' }}">
                                    <td style="padding:2px">{{ artist }}</td>
                                    <td style="padding:2px">{{ plays }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                        <br>
                    {% endfor %}
                </td>
                <td width="2%"></td>
                <td width="32%" valign="top">
                    {% for time_frame, album_list in album.items() %}
                        <div>Your {{ album_list|length }} most-played albums of {{ time_frame }} are:</div>
                        <br>
                        <table border="0" cellspacing="0" cellpadding="0" width="100%">
                            <tr>
                                <td style="padding:2px; font-weight:bold;">Album</td>
                                <td style="padding:2px; font-weight:bold;">Plays</td>
                            </tr>
                            {% set ns = namespace(foo = false) %}
                            {% for album, plays in album_list %}
                                {% set ns.foo = not ns.foo %}
                                <tr style="background-color: {{ 'lightgrey' if ns.foo else 'white' }}">
                                    <td style="padding:2px">{{ album }}</td>
                                    <td style="padding:2px">{{ plays }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                        <br>
                    {% endfor %}
                </td>
                <td width="2%"></td>
                <td width="32%" valign="top">
                    {% for time_frame, song_list in song.items() %}
                        <div>Your {{ song_list|length }} most-played songs of {{ time_frame }} are:</div>
                        <br>
                        <table border="0" cellspacing="0" cellpadding="0" width="100%">
                            <tr>
                                <td style="padding:2px; font-weight:bold;">Song</td>
                                <td style="padding:2px; font-weight:bold;">Plays</td>
                            </tr>
                            {% set ns = namespace(foo = false) %}
                            {% for song, plays in song_list %}
                                {% set ns.foo = not ns.foo %}
                                <tr style="background-color: {{ 'lightgrey' if ns.foo else 'white' }}">
                                    <td style="padding:2px">{{ song }}</td>
                                    <td style="padding:2px">{{ plays }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                        <br>
                    {% endfor %}
                </td>
            </tr>
        </table>
    </body>
</html>