<!DOCTYPE html>
<html>
    <body style="font-family: Arial">
        {% for field_name, field in [("Artist", artist), ("Album", album), ("Song", song)] %}
            {% for time_frame, field_list in field.items() %}
                <div>Your {{ field_list|length }} most-played {{ field_name|lower }}s of {{ time_frame }} are:</div>
                <br>
                <table border="0" cellspacing="0" cellpadding="0" width="500px">
                    <tr>
                        <td style="padding:2px">#</td>
                        <td style="padding:2px; font-weight:bold;">{{ field_name }}</td>
                        <td style="padding:2px; font-weight:bold;">Plays</td>
                    </tr>
                    {% set ns = namespace(foo = false) %}
                    {% for field_value, plays in field_list %}
                        {% set ns.foo = not ns.foo %}
                        <tr style="background-color: {{ 'lightgrey' if ns.foo else 'white' }}">
                            <td style="padding:2px">{{ loop.index }}</td>
                            <td style="padding:2px">{{ field_value }}</td>
                            <td style="padding:2px">{{ plays }}</td>
                        </tr>
                    {% endfor %}
                </table>
                <br>
            {% endfor %}
        {% endfor %}
    </body>
</html>